{
  "extends": ["plugin:react/recommended", "airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "env": {
    "browser": true,
    "es2021": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/state-in-constructor": "off",
    "no-console": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": 0,
    "consistent-return": "warn"
  }
}
